# نادیده گرفتن محیط مجازی
venv/
.venv/
env/

# نادیده گرفتن فایل‌های کامپایل شده پایتون
__pycache__/
*.pyc

# نادیده گرفتن تنظیمات سیستم عامل
.DS_Store

# نادیده گرفتن دیتابیس (اختیاری - اگه میخوای دیتابیس هم آپلود شه این خط رو نذار)
# db.sqlite3